<div class="mt-5 border border-dark rounded border-2
d-flex flex-column justify-content-center align-items-center cs-container"
[ngClass]="screenWidth < 768 ? 'cs-container-md' : 'cs-container-xxl'">
  <h2 class="mb-3">
    Inicio de Sesión
  </h2>
  <div class="cs-container-inputs" [ngClass]="screenWidth < 768 ? 'd-flex flex-column text-center' : 'cs-inputs-grid'">
    <label [ngClass]="screenWidth < 768 ? '' : 'text-end'">Correo</label>
    <div class="cs-container-inputs-xxl">
      <input [formControl]="emailControl" class="cs-input mt-2 mb-2" type="email">
      <small *ngIf="this.emailControl.invalid" class="text-danger m-auto">Es requerido</small>
    </div>

    <label [ngClass]="screenWidth < 768 ? '' : 'text-end'">Contraseña</label>
    <div class="cs-container-inputs-xxl">
      <input [formControl]="passwordControl" class="cs-input mt-2" type="password">
      <small *ngIf="this.passwordControl.errors?.['required']" class="text-danger m-auto">Es requerido</small>
      <small *ngIf="this.passwordControl.errors?.['minlength']" class="text-danger m-auto">Mínimo 6 dígitos</small>
    </div>
  </div>
  <button (click)="login()" [disabled]="this.emailControl.invalid || this.passwordControl.invalid" class="btn btn-success m-3" type="button">Iniciar</button>
</div>


